@mixin gridRowSelected($border-color, $bg-color, $text-color) {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(200px, 7fr);
  gap: 1rem;
  border: 1px dashed $border-color;
  border-radius: 8px;

  > :last-child {
    display: grid;
    grid-template-columns: minmax(150px, 4fr) 28px minmax(200px, 3fr);
    gap: 0;
    .price {
      background-color: $border-color;
    }
  }

  .cell {
    text-align: center;
    background-color: $bg-color;
    color: $text-color;
    display: grid;
    align-items: center;
    // font: normal normal normal 14px/24px $primaryFont;
    .item {
      display: flex;
      span {
        padding: 0 8px;
        display: inline-flex;
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: 100%;
          background-color: $border-color;
          position: absolute;
          right: 0;
          top: 0;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .delete-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40px;
    background-color: $border-color;
    height: 100%;
    min-height: 40px;
    transition: all 0.3s ease;

    .delete-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $border-color;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: transparent url("../../assets/images/icons/close.png")
        no-repeat center center;
      background-size: contain;
    }

    // &:hover {
    //   opacity: 0.9;
    // }
  }
}

@mixin containerItem(
  $borderColor: #e8e8e8,
  $bgColor: #fff,
  $borderRadius: 8px,
  $minHeight: 40px,
  $fontSize: 14px,
  $separatorColor: #1fc16b
) {
  display: flex;
  align-items: center;
  border: 1px solid $borderColor;
  background-color: $bgColor;
  border-radius: $borderRadius;
  min-height: $minHeight;

  span {
    padding: 2px 8px;
    display: inline-flex;
    position: relative;
    font-size: $fontSize;

    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $separatorColor;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
