$primary: #2563eb;
$green: #1fc16b;
$light-green: #e0faec;
$green-border: #1fc16b;
$red: #e74c3c;
$red-dark: #c0392b;
$white: #fff;
$black-text: #131517;
$gray: #e8e8e8;
$gray-bg: #f5f7fa;
$gray-border: #e8e8e8;
$gray-text: #424346;
$light-gray-text: #6d7280;

$light-orange: #ffedcc;
$orange-border: #ffb414;
$orange: #ffb414;
$border-radius: 12px;

$font-size-sm: 0.875rem;
$font-size-lg: 1.125rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$border-radius: 0.375rem;

$primaryFont: "Poppins";
